.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.Hlogo {
  width: 200px;
  height: 200PX;
  border: 1px solid black;
}

/* .swiper-slide {
  flex-shrink: 0;
  width: 70%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
} */

